.my-carousel {
    width: 97%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

.carousel-text {
    font-size: 27pt;
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-family: century gothic;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 150px;
}

.carousel-text2 {
    font-size: 12pt;
    font-family: century gothic;
    width: 350px;
}

.carousel-btn {
    background-color: #293d2a;
    color: white;
    font-size: 13pt;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {
    width: 700px;
    border-radius: 13px;
    border: none;
    outline: none;
    padding: 15px 20px;
    box-shadow: 0px 0px 6px lightgray;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 30px;
}

.categories {
    padding: 40px 0px;
}

.categories h4 {
    text-align: center;
    font-family: century gothic;
    font-size: 16pt;
    font-weight: bold;
}

.category-options {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    cursor: pointer;
}

.category-options .img {
    width: 250px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.category-option {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.category-option .title {
    padding: 20px;
    text-align: center;
    font-weight: 500;
}

.working {
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 600px;
    margin: auto;
}

.hide {
    display: none !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}


@media screen and (max-width: 550px) {
    .category-options {
        display: grid;
        grid-template-columns: 48% 48%;
        row-gap: 20px;
    }

    .working {
        height: 142px;
    }

    .carousel-text {
        font-size: 10pt;
        padding: 10px;
    }

    .carousel-text2 {
        font-size: 9pt;
    }

    .carousel-btn {
        font-size: 7pt;
    }

    .carousel-btn {
        padding: 6px;
    }

    .carousel-indicators [data-bs-target]{
        height: 2px !important;
        width: 10px !important;
    }

    .category-options {
        padding: 20px;
    }
}